/* header, visual, footer 공통 영역 꾸미기 */
@charset "utf-8";

/* 웹문서 제작에 작성된 블록 레벨 요소만 초기화 */
html, body, div, header, nav, section, aside, article, footer, figure,
figcaption, legend, ul, ol, li, dl, dt, dd, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

fieldset{
    border: 0;
}

/* 숨김 컨텐츠 */
.hidden, legend, caption{
    position: absolute;
    left: -9999px;
}

/* 웹 폰트 */
@font-face{
    font-family: "Nanum";
    font-weight: 400;
    src: url("font/NanumGothic.eot?#iefix") format("embedded-opentype"),
         url("font/NanumGothic.woff") format("woff"),
         url("font/NanumGothic.ttf") format("truetype");         
}

@font-face{
    font-family: "NanumBold";
    font-weight: 400;
    src: url("font/NanumGothicBold.eot?#iefix") format("embedded-opentype"),
         url("font/NanumGothicBlod.woff") format("woff"),
         url("font/NanumGothicBlod.ttf") format("truetype");         
}

@font-face{
    font-family: "NanumEx";
    font-weight: 400;
    src: url("font/NanumGothicExtraBold.eot?#iefix") format("embedded-opentype"),
         url("font/NanumGothicExtraBlod.woff") format("woff"),
         url("font/NanumGothicExtraBlod.ttf") format("truetype");         
}

/* 도형 글꼴 */
@font-face{
    font-family: "webcafeIcon";
    font-weight: 400;
    src: url("font/webcafeIcon.eot?#iefix") format("embedded-opentype"),
         url("font/webcafeIcon.woff") format("woff"),
         url("font/webcafeIcon.ttf") format("truetype"),
         url("font/webcafeIcon.svg#webcaferegular") format("svg");
}

/* 링크 스타일 */
a:link {
    text-decoration: none;
    color: #4f4f4f;
}
a:visited{
    color: #8a8e91;
    text-decoration: none;
}
a:hover, a:focus{
    color: red;
    text-decoration: none;
}

/* 기본 스타일 */
body{
    font-family: "Nanum";
    color: #000;
    background-color: #fff;
    font-size: 0.75em;
    /* 12px */
    line-height: 1.2;
    /* px, 배수 */
}

/* 건너뛰기 링크 */
#skipNav{
    position: absolute;
    left: -9999px;
}
#skipNav:focus{
    left: 50%;
    margin: 3px 0 0 -3em;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    outline: 0;
    z-index: 10;
}

/* 전체적인 레이아웃 잡기 */
header, #visual, #contentsArea, #slogan, #footerInner{
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

#wrapper{
    background-image: url("images/bg_flower.png"), 
                      linear-gradient(to bottom, #c7c7c7 0%, #fff 70%, #fff 100%);
    background-repeat: no-repeat;
    background-position: center top;                     
}

/* 헤더 영역 시작 */
header{
    height: 110px;
    position: relative;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
}
.logo{
    position: absolute;
    top: 37px;
    left: 50px;
}
.infoLink{
    /* position: absolute; */
    text-align: right;
    /* top: 0; */
    right: 30px;
}
.infoLink > li{
    display: inline-block;
    padding: 8px 0 7px 3px;
}
.infoLink a::before{
    content: ":";
    padding-right: 8px;
}
.infoLink > li:first-child a::before{
    content: "";
}
.mainMenu{
    background-image: linear-gradient(to bottom, #ffc848 0%, #ff8208 40%, #ffc848 100%);
    padding-left: 205px;
    height: 45px;
    border-top:  2px solid;
    border-radius: 0 0 5px 5px;
}
.mainMenu li, .mainMenu a{
    display: inline-block;
}

.mainMenu>li{
    position: relative;
}
.mainMenu>li>a{
    font-family: "NanumEx";
    font-size: 1.2em;
    padding: 15px 20px 14px;
    /* 호버영역을 늘리기 위해 패딩을 준다 */
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.3),
                 -1px 0 0 rgba(0, 0, 0, 0.3),
                 0 1px 0 rgba(0, 0, 0, 0.3),
                 0 -1px 0 rgba(0, 0, 0, 0.3);
    border-left: 1px solid #fff;
}
.mainMenu>li>a:hover, .mainMenu>li>a:focus{
    color: #ff0;
}
.mainMenu > li > a:hover::after, .mainMenu > li > a:focus::after{
    content: "";
    display: block;
    height: 2px;
    background-color: #000;
    width: 100%;
    position: relative;
    top: 12px;
}
.mainMenu ul{
    position: absolute;
    z-index: 10;
    white-space: nowrap;
}
.mainMenu ul a{
    padding: 8px 0 7px 15px;
}
.mainMenu ul a::before{
    font-family: "webcafeIcon";
    content: "r";
    color: #666;
    position: relative;
    top: 2px;
}
.mainMenu ul a:hover::before, .mainMenu ul a:focus::before{
    content: "c";
    color: #f00;
}
.mainMenu li:hover ul, .mainMenu li:focus ul{
    display: block;
}
.aboutHTML{
    display: none;
}
.aboutCSS{
    display: none;
}
.webStandard{
    display: none;
}
.webAccessibility{
    display: none;
    left: -100px;
}
.qna{
    display: none;
    left: -150px;
}
.archive{
    display: none;
    right: 0;
}
/* 헤더 영역 종료 */

/* 비쥬얼 영역 시작 */
#visual{
    height: 120px;
    position: relative;
}
#visual p{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    top: 75px;
    left: 400px;
    animation: textAni 1s;
}
#visual::before, #visual::after{
    position: absolute;
    content: "";
    z-index: 10;
    top: -20px;
    left: 0;
    width: 100%;
    height: 140px;
}
#visual::before{
    background-image: url("images/ani_flower_01.png"),
                      url("images/ani_flower_02.png");
    background-repeat: no-repeat;
    background-position: 0 5px, 670px 0;
}
#visual::after{
    background-image: url("images/ani_flower_03.png"),
                      url("images/ani_flower_04.png");
    background-repeat: no-repeat;
    background-position: 300px 35px, 800px 65px;
}
@keyframes textAni {
    0%{
        font-size: 1em;
        top: 0;
        left: 0;
        opacity: 0.2;
    }
    100%{
        font-size: 2em;
        top: 75px;
        left: 400px;
        opacity: 1;
    }
}
@keyframes flowerAni {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
/* 비쥬얼 영역 종료 */

/* 메인 컨텐츠 영역 시작 */
#contentsArea{
    min-height: 400px;
    padding: 30px 0 30px 30px;
}
/* 메인 컨텐츠 영역 종료 */

/* 슬로건 영역 시작 */
#slogan{
    padding: 15px 0;
}
/* 슬로건 영역 종료*/

/* 푸터 영역 시작 */
#footer{
    padding: 15px 0;
}
/* 푸터 영역 시작 */
